.page{
    overflow: hidden;
    background-size: cover;
}
.form{
     background-image: url(./image/Background2.jpg);
     background-size: cover;
}
.card{
    margin-top: 60px;
    margin-left: 170px;
    margin-bottom: 60px;
}
.crds{
    margin-left: 530px;
    margin-top: 20px;
}

.top{
    height: 150px;
    text-align: center;
    background-color: #FFDD00;

}
.products{
    padding-left: 20px;
}

/* .logo{} */

.btns{
    padding-top: 50px;
}
.RegFHead{
   /* text-align: center; */
    color: black;
    display: flex;
    min-height: 150px;
    background-color: #FFDD00;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 30px;
}
.Regtitle{
    margin-top: 50px;
}
.RegBody{
    margin-top: 50px;
    text-align: right;
    margin-right: 25%;

}
.IUserInfo{
    margin-top: 25px;
    margin-right: 5%;
}
.UserInput{
    margin-top: 25px;
    min-height: 20px;
    min-width: 20px;
    
}
.SubmitButton{
    margin-top: 50px;
    margin-left: 48%;
}
.SubmitButtonSignUp{
    margin-top: 50px;
    margin-right: 25%;
} 
.RegFFoot{
    min-height: 150px;
    background-color: #FFDD00;
    margin-top: 5%;
}
.Nav{
    margin-left: 200px;
    margin-top: 20px;

}
.Homebutton{
    margin-left: 20px;
}

.main{
    background-image: linear-gradient( #FFDD00, #FBB034);
}
