.body{
    margin-top: 40px;
    text-align: right;
    margin-right: 40%;
}
.Welcome{
    margin-top: 150px;
    text-align: center;
    
}
.txtField{
    margin-Left: 5%;
    margin-top: 15px;
}
.submitButton{
    margin-top: 40px;
    margin-right: 15%;
}
.info{
    text-align: left;
}

